

<app-header></app-header>



<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4">

        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <div class= "contenedor">
                <br>
                <h2 style="text-align: center;">Registra tus datos</h2><br>                
                    
                <div class="form-group">                    
                    <label for="email">Correo electronico</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email">
                    <small id="emailHelp" class="form-text text-muted">Ingresa tu correo electronico</small>
                </div>
                <div class="form-group">                    
                    <label for="codigo">Codigo</label>
                    <input type="text" class="form-control" id="codigo" [(ngModel)]="codigo">
                    <small id="codigoHelp" class="form-text text-muted">Ingresa tu codigo</small>
                </div>
                
                
                <button type="submit" class="btn btn-primary" style="text-align: center;" (click)="Activar()">Activar</button>
                <br>
            </div>
        </div>
    </div>
    <br>
</div>
<app-footer></app-footer>

