
<app-header>

</app-header>
<body>  


  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <br>
          <p>"En nuestro salón cuidamos tus uñas con tratamientos profesionales de manicura, pedicura, uñas acrílicas y
            gel. Disfruta de diseños personalizados y un acabado impecable que realza tu estilo."
          </p>

          <br><br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="./assets/uñas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Manicura</h5>
              <p class="card-text" >
              <ul style="text-align: left;">
                <li>Manicura clásica: Limpieza, limado y esmaltado de uñas.</li>
                <li>Manicura spa: Incluye exfoliación, hidratación y masaje de manos.</li>
                <li>Manicura francesa: Esmaltado con diseño francés (punta blanca).</li>
                <li>Manicura semipermanente: Aplicación de esmalte semipermanente para mayor durabilidad.</li>
              </ul>
             
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="./assets/pedicura.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="height: 421.6px;">
              <h5 class="card-title">Pedicura</h5>
              <p class="card-text" >
              <ul style="text-align: left; display: flex; flex-direction: column; height: 288px; justify-content: center;">
                <li>Pedicura clásica: Limpieza, limado de uñas y esmaltado.</li>
                <li>Pedicura spa: Tratamiento completo con exfoliación, masaje e hidratación de pies.</li>
                <li>Pedicura semipermanente: Esmaltado con duración prolongada.</li>
              </ul> 
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>            
             
              
              
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="./assets/acrilicas.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="height: 421.6px;">
              <h5 class="card-title">Uñas Acrílicas</h5>
              <p class="card-text">
              <ul style="text-align: left;">
                <li>Acrílico natural: Uñas acrílicas sin color para un acabado natural.</li>
                <li>Acrílico con diseño: Uñas acrílicas con diseños personalizados, colores y texturas.</li>
                <li>Relleno de acrílico: Mantenimiento de las uñas acrílicas a medida que crecen.</li>
              </ul>
              <br>
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="./assets/uñasGel.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="height: 446px">
              <h5 class="card-title">Uñas de Gel</h5>
              <p class="card-text">
              <ul class="tarjetas" style="text-align: left;">
                <li>Gel básico: Uñas de gel con un acabado natural y resistente.</li>
                <li>Gel con extensión: Extensiones de uñas usando gel.</li>
                <li>Diseños en gel: Uñas de gel con diseños personalizados, texturas y efectos.</li>
              </ul>
              <br>
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card" style="width: 18rem;">
            <img src="./assets/decoracion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diseño y Decoración de Uñas</h5>
              <p class="card-text" >
              <ul style="text-align: left;">
                <li>Arte en uñas: Pinturas y diseños artísticos a mano alzada.</li>
                <li>Uñas con piedras: Aplicación de piedras, cristales y otros accesorios decorativos.</li>
                <li>Uñas 3D: Decoraciones y diseños en relieve sobre la uña.</li>
              </ul>
              
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>
            </div>
          </div>
        </div>


      </div>
    </div>




  </main>

  <app-footer></app-footer>



</body>

