<html>
<app-header>

</app-header>
<body>  

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>"Nuestros cuidados corporales ofrecen tratamientos exfoliantes, hidratantes y reafirmantes que
                        revitalizan tu piel y mejoran su textura. Relájate con masajes descontracturantes y
                        anticelulíticos, diseñados para brindarte bienestar y dejar tu cuerpo suave, nutrido y
                        rejuvenecido."
                    </p>

                    <br><br>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/exfoliacion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliación corporal regular</h5>
                            <p class="card-text" style="text-align: left;">
                                Recomienda a tus clientes que se realicen exfoliaciones corporales una o dos veces por
                                semana. Esto ayuda a eliminar las células muertas y permite que la piel respire mejor,
                                quedando suave y rejuvenecida. Los tratamientos de exfoliación profesional en el salón,
                                como el peeling corporal con sales minerales o azúcar, ofrecen una limpieza profunda.
                            </p>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/masajes.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 418px;">
                            <h5 class="card-title">Masajes relajantes y descontracturantes</h5>
                            <p class="card-text" style="text-align: left;">
                                El estrés afecta el bienestar físico y mental. Recomendaciones de masajes relajantes,
                                con aceites esenciales o piedras calientes, pueden ayudar a mejorar la circulación y
                                reducir la tensión muscular. Los masajes descontracturantes son ideales para quienes
                                sufren de dolores musculares o posturales.

                            </p><br>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/tratamientos.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 418px;">
                            <h5 class="card-title">Tratamientos reafirmantes y anticelulíticos</h5>
                            <p class="card-text" style="text-align: left;">
                                Para mejorar la apariencia de la piel y combatir la flacidez, recomienda tratamientos
                                profesionales como la
                                radiofrecuencia, presoterapia o masajes reductores. Además, ofrece consejos sobre cremas
                                reafirmantes y geles
                                anticelulíticos para uso en casa.
                            </p><br><br>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/proteccion.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 394px;">
                            <h5 class="card-title">Protección solar todo el año</h5>
                            <p class="card-text" style="text-align: left;">
                                Es fundamental proteger la piel del cuerpo del daño solar durante todo el año, no solo
                                en verano. Aconseja usar
                                bloqueador solar de amplio espectro en zonas expuestas, como brazos, piernas y escote,
                                incluso en días nublados.
                            </p><br><br><br>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/hidratacion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Hidratación profunda</h5>
                            <p class="card-text" style="text-align: left;">
                                La piel del cuerpo necesita una hidratación intensa, especialmente en zonas como los
                                codos, rodillas y talones. Ofrece tratamientos de envolturas corporales hidratantes con
                                ingredientes como manteca de karité, aceites esenciales o aloe vera. También, sugiere
                                que los clientes apliquen cremas hidratantes o aceites después de la ducha.
                            </p>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>




    </main>

    <app-footer></app-footer>

   

</body>

</html>
