<footer>
    <br>
    <div class="container">
        <h6>Centro de belleza SPA y Barberia Magic especialistas en cuidado capilar y belleza integral. Ubicados en
            Diagonal 4A # 14 - 43 Bogotá, ofrecemos cortes, coloración, tratamientos capilares, manicura, pedicura,
            y
            servicios personalizados para resaltar tu belleza natural. Contáctanos al [Número de Teléfono] o visita
            nuestras redes sociales para agendar tu cita. ¡Transformamos tu look con productos de alta calidad y un
            equipo de profesionales dedicados a brindarte una experiencia única! <br>Sujeto a
            <a href="terminos.html" id="mimodal">terminos y condiciones</a>
        </h6>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
                <br>
                <em>Acerca de Nosotros</em>
                <br><a routerLink="/acerca">Quienes somos</a>
                <!-- <br><a href="./mision.html">Misión</a>
                <br><a href="./vision.html">Visión</a> -->
                <br><a routerLink="/ubicacion">Ubicación</a>
                <br>Trabaja con nosotros
            </div>
            
            <div class="col-12 col-sm-12 col-md-3">
                <br>
                <em>Cuenta</em>
                <br>Administra tu cuenta de usuario
                <br>Cosulta de agenda
            </div>
            <br>
            <div class="col-12 col-sm-12 col-md-3">
                <br>
                <em>Servicios</em>
                <br>Metodos de Pago
                <br>Quejas y reclamos
                <br>Preguntas Frecuentes
            </div>
            <br>
            <div class="col-12 col-sm-12 col-md-3">
                <br>
                <em>Contactenos</em>
                <br><a href="https://www.facebook.com/magicsalon1?mibextid=ZbWKwL"><i class="fa-brands fa-facebook fa-lg" style="color: #362ae5;"></i></a>
                <br><a href="https://www.instagram.com/salondebellezayspa_?igsh=OTN6NXd0aWt3aXF2"><i class="fa-brands fa-instagram fa-lg" style="color: #f10427;"></i> </a>
                <br><i class="fa-brands fa-tiktok fa-lg" style="color: #0d0d0d;"></i> 
                <br><i class="fa-brands fa-whatsapp fa-lg" style="color: #1cca30;"></i> 


            </div>
        </div>
    </div>
    <br>

</footer>
