<html>
<app-header>
</app-header>
<body>  
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <br>
          <p>Nos encanta ayudar a nuestros clientes a encontrar el estilo que mejor les quede. Ofrecemos consultas
            personalizadas donde te asesoramos sobre qué corte, color o tratamiento es ideal según tu tipo de cabello,
            estilo de vida y preferencias.
          </p>       
          
          <br><br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">          
          <div class="card" style="width: 18rem; height: 492px;">
            <img src="./assets/Cabello.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cabello</h5>
              <p class="card-text" style="text-align: left;">Ya sea que busques un estilo clásico o una transformación completa, nuestros estilistas analizarán tu tipo de cabello y tus facciones para crear un corte que realce tu belleza natural.</p> <br>
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>             
            </div>
          </div>
        </div>
        
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem; height: 492px;">
              <img src="./assets/coloracion.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Coloración y mechas</h5>
                <p class="card-text" style="text-align: left;">Somos expertos en técnicas de coloración como balayage, ombré, babylights, y tintes permanentes o semi-permanentes. Trabajamos con marcas de coloración de alta gama para proteger y mantener la salud del cabello.</p>
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>              
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 18rem; height: 492px;">
              <img src="./assets/capilar.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tratamientos capilares</h5>
                <p class="card-text" style="text-align: left;">Ofrecemos tratamientos específicos para hidratar, nutrir, reparar y revitalizar el cabello, incluyendo tratamientos de queratina, botox capilar, y mascarillas nutritivas para cabello dañado o seco.</p> 
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>             
              </div>
            </div>
          </div>
          
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">          
          <div class="card" style="width: 18rem; height: 500px;">
            <img src="./assets/peinados.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Peinados para ocasiones especiales</h5>
              <p class="card-text" style="text-align: left;">Bodas, graduaciones, y eventos importantes requieren de un peinado especial. Nuestros estilistas te ayudarán a lucir espectacular con peinados recogidos, semirecogidos o estilos sueltos con ondas y rizos.</p>   
              <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>           
            </div>
          </div>
        </div>
        
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem; height: 500px;">
              <img src="./assets/alisado.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Alisado y moldeado</h5>
                <p class="card-text" style="text-align: left;">Si prefieres un cabello liso y brillante, ofrecemos servicios de alisado con queratina, alisados brasileños, y permanentes para rizos o ondas duraderas.</p><br><br><br>
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days" style="color: #74C0FC;"></i></a>              
              </div>
            </div>
          </div>        
         
          
      </div>
    </div> 
    

  </main>

  <app-footer></app-footer>

</body>

</html>