<html>
<app-header>

</app-header>
<body>  

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>"Brinda a tu piel el cuidado que merece con nuestros tratamientos faciales. Limpieza profunda,
                        hidratación y rejuvenecimiento, todo personalizado para que luzcas un rostro radiante y
                        saludable."
                    </p>

                    <br><br>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/limpieza.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 398px;">                            
                            <h5 class="card-title">Limpieza facial profunda</h5>
                            <p class="card-text" style="text-align: left;">
                                Tratamiento para eliminar impurezas, puntos negros, y exceso de grasa.
                            </p><br><br><br><br><br><br><br><br>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/mascarillas.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 398px;">
                            <h5 class="card-title">Mascarillas especializadas</h5>
                            <p class="card-text">
                                <ul style="text-align: left;">
                                    <li >Hidratantes, purificantes, calmantes, según el tipo de piel.</li>
                                    <li>Mascarillas faciales para hombres: Hidratación y limpieza especialmente formulada para ellos.</li>
                                </ul>                                
                            <br><br><br><br>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/barberia.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Servicios de Barbería</h5>
                            <p class="card-text">
                            <ul style="text-align: left;">
                                <li>Corte clasico: Técnicas tradicionales de corte de cabello.</li>
                                <li>Afeitado Tradicional: Afeitado con navaja y toallas calientes.</li>
                                <li>Arreglo de barba: Perfilado y recorte de barba y bigote.</li>
                                <li>Exfoliación facial masculina: Enfocado a las necesidades de la piel del hombre.</li>
                            </ul>
                            
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/combinado.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 494px;">
                            <h5 class="card-title">Servicios Combinados</h5>
                            <p class="card-text">
                            <ul style="text-align: left;">
                                <li>Paquetes faciales y de afeitado: Combinaciones de tratamientos faciales y afeitado para una experiencia completa de cuidado personal.</li>
                                <li>Limpieza facial y arreglo de barba: Un tratamiento para limpiar profundamente la piel y perfeccionar la barba.</li>
                                <li>Cuidado capilar y facial: Combinación de corte de cabello, hidratación capilar y tratamiento facial.</li>
                            </ul>
                            <br>
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/faciales.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Servicios Faciales</h5>
                            <p class="card-text">
                            <ul style="text-align: left;">
                                <li>Limpieza facial profunda: Tratamiento para eliminar impurezas, puntos negros, y exceso de grasa.</li>
                                <li>Hidratación facial: Procedimiento para restaurar y mantener la humedad de la piel.
                                </li>
                                <li>Exfoliación facial: Eliminación de células muertas para una piel suave y renovada.</li>
                                <li>Tratamientos anti-edad: Terapias para reducir arrugas, líneas finas y mejorar la firmeza.</li>
                            </ul>
                            
                            <a href="#" class="btn btn-primary"><i class="fa-solid fa-calendar-days"
                                    style="color: #74C0FC;"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>




    </main>

    <app-footer></app-footer>

   

</body>

</html>