<!DOCTYPE html>
<html lang="en">



<body>

  <header>


    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="col px-md-5 ">
          <a routerLink="/formulario"><button type="button" class="btn btn-outline-primary">Registrate</button></a>
          <a routerLink="/login"><button type="button" class="btn btn-outline-primary">Iniciar Sesión</button></a>
        </div>
      </div>

      <div class="container">
        <!-- <img src="./assets/logo.jpg" alt="" height="100px"> -->
        <h1 class="display-4">Centro de belleza SPA y Barberia Magic</h1>
        <p class="lead">Relájate y déjate consentir en nuestro salón de belleza y spa! Te esperamos para brindarte un
          momento de bienestar y belleza. 🌸
      </div>
      <ul class="nav justify-content-center">

        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cabello">Cabello</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/uñas">Uñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/facial">Facial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/corporal">Corporal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ventaProductos">Venta de Productos</a>
        </li>
      </ul>

    </div>
  </header>

  



</body>

</html>

