<app-header></app-header>
<div class="container">
    <h6>Misión</h6>

    <p>Misión: En Centro de belleza SPA y Barberia Magic, nuestra misión es brindar a cada cliente una experiencia
        única, ofreciendo servicios personalizados de alta calidad en un ambiente acogedor y profesional. Nos
        esforzamos por estar a la vanguardia de las tendencias de belleza, utilizando productos de primera línea y
        técnicas innovadoras, siempre comprometidos con realzar la belleza natural y el bienestar de quienes confían
        en nosotros. Nuestra meta es crear confianza, satisfacción y estilo, cuidando cada detalle para superar las
        expectativas de nuestros clientes.</p>

    <p>Este tipo de misión resalta la calidad del servicio, la satisfacción del cliente y la innovación, valores
        clave
        en un salón de belleza.</p>
</div>
<hr><br>

<div class="container">
    <h6>Visión</h6>

    <p>Ser el salón de belleza de referencia en la comunidad, reconocido por nuestra excelencia en el servicio,
        innovación y compromiso con el bienestar de nuestros clientes. Aspiramos a liderar el sector de la belleza,
        ofreciendo un espacio donde las personas se sientan valoradas y comprendidas, con una experiencia de cuidado
        integral que inspire confianza y estilo. Nos comprometemos a mantenernos a la vanguardia de las tendencias
        globales, expandiendo nuestras fronteras y creando un impacto positivo en la vida de nuestros clientes y en
        la comunidad en general.</p>

  
</div>
<app-footer></app-footer>
