<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <img src="{{datos.imagen}}" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-6">
                <h4>{{datos.nombre}}</h4>
                <p>{{datos.descripcion}}</p>            
                <div>Cantidad:{{datos.cantidad}}</div>
                <div class="btn btn-primary w-100">Comprar</div>
        </div>
    </div><br>
    <div class="row">
        <div>Una formulación cosmética es una mezcla cuidadosamente elaborada de ingredientes diseñados para su aplicación en el
            cuerpo humano con el fin de embellecerlo, limpiarlo o alterar su aspecto sin afectar a su estructura ni a sus
            funciones. Las fórmulas varían mucho según el tipo de producto cosmético, que puede incluir cuidado de la piel,
            cuidado del cabello, maquillaje, fragancias, etc. Es crucial para la industria de la belleza y el cuidado personal.
            Como expertos en normativa, comprender los entresijos de las fórmulas cosméticas es clave para cumplir la normativa
            y garantizar la seguridad de los productos. Esta página sirve de guía completa para entender qué es una formulación
            cosmética, sus componentes y las consideraciones normativas que la rodean.</div>
    </div>
</div>
<app-footer></app-footer>
