<body>

<app-header></app-header>



  <main>
    <br>
    <div class="container" style="text-align: justify;">
      <div class="row">
        <div class="col-12">
          <p>Buscas un estilista especializado en belleza y cuidado de cabello? Magic centro de belleza, el salón de
            peluquería te da la bienvenida a su espacio de belleza para ofrecerte una experiencia única.
          </p>

          <p>
            Magic centro de belleza te propone soluciones personalizadas siguiendo las últimas tendencias (corte,
            coloración,
            tratamiento y styling) para un look perfecto. Confía en la profesionalidad de tu estilista con uñas, spa,
            faciales,
            corporal.
          </p>

          <p>
            En tu peluquería de Bogotá encontrarás los productos revolucionarios. Desde la gama de
            tratamientos de pro-keratina, hasta coloraciones permanentes o reflejos, dispone de todos los productos
            profesionales para realizar cortes y stylings
          </p>
          <br><br>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-12">

        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>Cabello</h3>
              <a href="./cabello.html"><img src="../assets/Cabello.jpg" class="d-block w-100" alt="cabello"
                  data-toggle="tooltip" data-placement="top" title="Cabello" style="border-radius: 40px;"></a>
            </div>
            <div class="carousel-item">
              <h3>Spa Corporal</h3>
              <a href="./corporal.html"><img src="../assets/spaCorporal.jpg" class="d-block w-100" alt="Spa Corporal" data-toggle="tooltip"
                data-placement="top" title="Spa Corporal" style="border-radius: 40px;"></a>
            </div>
            <div class="carousel-item">
              <h3>Spa Facial</h3>
              <a href="./facial.html"><img src="../assets/spaFacial.jpg" class="d-block w-100" alt="Spa Facial" data-toggle="tooltip"
                data-placement="top" title="Spa Facial" style="border-radius: 40px;"></a>
            </div>
            <div class="carousel-item">
              <h3>Uñas</h3>
              <a href="./uñas.html"><img src="../assets/uñas.jpg" class="d-block w-100" alt="Uñas" data-toggle="tooltip"
                  data-placement="top" title="Uñas" style="border-radius: 40px;"></a>

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        </div>

      </div>
    </div>


  </main>


<app-footer></app-footer>

</body>



